@media screen and (min-width: 1600px)
{  
body
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section
{
    background-color : #88c1d0;
    width: 200px;
    height: 200px;
}
}

@media all and (min-width: 768px) and (max-width: 1599px)
{
    
    body
    {
        display: flex;
        flex-direction:row;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .section
    {
        border-color: #88c1d0;
        background-color : #88c1d0;
        width: 200px;
        height: 200px;
    }
}

@media all and (max-width: 767px)
{
      
    body
    {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        
       
    }
    
    .section
    {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        background-color : #88c1d0;
        width: 200px;
        height: 200px;
    }
} 


